body, input, button {
font-family: 'Roboto',sans-serif;
}

body {
    background-color:#504E42;
    padding :60px 0 0 0;
}
header {
    border-radius:50px;
    width: 35%;
    height: 60px;
    padding:15px;
    text-align: center;
    position: -webkit-sticky;
    background-color:#7A887C;
    }
header.list-header{
    border-radius:5px;
    width: 76%;
    text-align: left;
    background: #eee;;
    height: 10px;
} 
span.list-taskHead{
    position: absolute;
    color: blue; 
    text-align: right;
   
} 
header input {
    width: 50%;
    height: 50px;
    font-size: 15px;
    text-indent: 18px;
    background: #eee;
    border-radius:35px;
    border:7px;
    box-shadow:none; 
}
header input::-webkit-input-placeholder {
    color:grey;
}
header button svg {
    position: absolute;
    cursor: pointer;
} 
.button {
    width: 10%;
    height: 30px;
    color:#0F0E0E;
    background-color:#A1D9E0;
    border-radius:5px;
}
/* Style the close button */
span.close-icon {
    position: absolute;
    right:0;
    top: 0;   
    padding: 12px 16px 12px 16px;
  }
 span.close-icon:hover {
    background-color: #f44336;
    color: #080808;
  }
  /* Style the list */
  li {
    border-radius:5px;
    width: 75%;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    color:white;
    background:#7A887C;
    /* font-size: 9px; */
    transition: 0.2s;
}
/* Style the edit button */
span.edit-icon {
    position: absolute;
    top: 0;   
    padding: 10px 8px 10px 8px;
  }
 span.edit-icon:hover {
    background-color: green;
    color: #080808;
  }
